version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant

    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - rag_network
    environment:
      - QDRANT_API_KEY=

  redis:
    image: redis:7-alpine
    container_name: redis

    volumes:
      - redis_data:/data
    networks:
      - rag_network
    command: redis-server --appendonly yes

  api:
    build:
      context: ../../services/api
      dockerfile: Dockerfile
    container_name: api
    env_file:
      - ../../.env
    depends_on:
      qdrant:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - rag_network
    ports:
      - "8001:8000"
    volumes:
      - ../../configs:/workspace/configs:ro
      - ../../scripts:/workspace/scripts:ro
      - ../../data:/workspace/data

  ingest-worker:
    build:
      context: ../../services/ingest
      dockerfile: Dockerfile
    container_name: ingest-worker
    env_file:
      - ../../.env
    depends_on:
      redis:
        condition: service_started
      qdrant:
        condition: service_started
    networks:
      - rag_network
    command: sleep infinity
    volumes:
      - sources_data:/workspace/data/sources

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ../../deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - rag_network

networks:
  rag_network:
    driver: bridge

volumes:
  qdrant_data:
  redis_data:
  sources_data:
  logs_data: